.form-group {
  position: relative;

  &.in-focus {

    &::before {
      width: 100%;
    }
  }

  .form-control {
    padding: 10px 15px;
    background: #fff;
    border-radius: 0;
    border: none;
    color: $dark;
  }

  &--btn {

    &::before {
      display: none;
    }
  }

  &::before {
    content: '';
    @extend %pos;
    top: auto;
    width: 0;
    height: 2px;
    background: $dark;
    transition: .5s;
  }
}

.form-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    flex-direction: row;
  }

  .form-group {
    width: 100%;
    margin: 0 auto 30px;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      width: 30%;
      margin: 0;
    }

    .btn {
      height: 100%;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        padding: 0 $btn-padding-x;
      }
    }
  }
}

.form-column {

  .form-group {
    width: 100%;
    margin-bottom: 25px;
  }

  &--min {
    max-width: 315px;
  }
}


.form-search {
  @extend %pos;
  top: auto;
  bottom: 30px;
  height: 65px;
  padding: 10px 0;

  @media (min-width: map_get($grid-breakpoints, lg)) {
    top: 0;
    bottom: 0;
    height: auto;
  }

  .form-group-search {
    position: absolute;
    width: 0;
    right: 110px;
    top: 10px;
    bottom: 10px;
    transition: .6s;
    transition-delay: 0s;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      top: 20px;
      bottom: 20px;
    }

    input {
      width: 100%;
      height: 100%;
      outline: none;
      background: #ECECEC;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
      border-radius: 5px 0px 0px 5px;
      border: none;
      transition: .6s;
      transition-delay: 0s;
    }
  }

  .btn-search {
    position: absolute;
    top: 10px;
    bottom: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      top: 20px;
      bottom: 20px;
    }

    &-open {
      width: 65px;
      right: 0;
      transition: .4s;
      transition-delay: .6s;

      svg {
        position: relative;
        z-index: 4;
        fill: #fff;
      }

      &::before {
        content: '';
        @extend %pos;
        right: 100%;
        background: rgb(165, 170, 173);
        border-radius: 0px 5px 5px 0px;
        transition: .6s;
        transition-delay: 0s;
        z-index: 3;
      }
    }

    &-close {
      right: 10px;
      opacity: 0;
      pointer-events: none;
      transition: .4s;
      transition-delay: 0s;
    }
  }

  &.is-active {
    z-index: 4;

    .form-group-search {
      width: calc(100% - 110px);
      transition-delay: .4s;

      @media (min-width: map_get($grid-breakpoints, lg)) {
        width: 83%;
      }

      input {
        padding-left: 25px;
        transition-delay: .4s;
      }
    }

    .btn-search-open {
      right: 45px;
      transition: .4s;
      transition-delay: 0s;

      &::before {
        right: 0;
        transition-delay: .4s;
      }
    }

    .btn-search-close {
      opacity: .5;
      pointer-events: all;
      transition-delay: .4s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.custom-filter {

  .form-group {
    width: auto;
    margin: 0 0 25px;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      margin: 0 50px 25px 0;
    }

    @media (min-width: map_get($grid-breakpoints, lg)) {
      margin: 0 70px 25px 0;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      margin: 0 80px 25px 0;
    }


    .title {
      color: #fff;
      font-weight: bold;
      font-size: .875rem;
      margin-bottom: 20px;
    }

    .custom-checkbox {
      margin-bottom: 10px;

      .custom-control-label {
        cursor: pointer;
        color: #DABFB5;
        font-size: .875rem;
        letter-spacing: 0.05rem;

        &::before, &::after {
          top: 50%;
          transform: translateY(-50%);
        }

        &::before {
          border-radius: 2px;
          background: transparent;
          border: 2px solid rgba(218, 191, 181, 0.7);
        }
      }

      input:checked + .custom-control-label {
        color: #fff;

        &::before {
          border: 2px solid #fff;
        }
      }
    }
  }
}
