.burger-menu {
  width: 30px;
  height: 20px;

  .line {
    width: 100%;
    height: 2px;
    background: #fff;
    transition: .5s;
  }

  &:hover {

    .line {
      background: $primary;
    }
  }
}