.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 95%;
  max-width: 440px;
  z-index: 120;
  transition: .5s;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -300%);

  &--gallery {
    max-width: 90vw;
    background: transparent;
    max-height: 98vh;

    .slider-arrow {
      display: none;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        display: flex;
      }
    }

    .gallery-counter {
      position: absolute;
      right: 0;
      bottom: 23%;

      &-item {
        position: relative;
        padding-left: 45px;
        font-weight: bold;
        font-size: 14px;
        color: #fff;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 30px;
          height: 1px;
          background: #fff;
        }
      }

      #sliderCounterActive:before {
        background-color: #fff
      }
    }
  }

  &.active {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%);
  }
}


.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 200;

  &:hover {

    .line {
      opacity: 1;
    }
  }

  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 1px;
    background: #fff;
    opacity: .7;

    &--left {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &--right {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}


.modal-mask {
  @extend %pos;
  position: fixed;
  background: rgba($dark, .8);
  opacity: 0;
  pointer-events: none;
  z-index: 119;
  transition: .5s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}