#single-object {

  .object-intro {

    &-item {
      position: relative;
      padding: 50px 5%;
      @extend %img;
      color: #fff;
      z-index: 2;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        padding: 200px 5%;
      }

      p {
        max-width: 380px;
        margin-left: auto;
        line-height: 1.9;
      }

      &::before {
        content: '';
        @extend %pos;
        background: rgba(#433531,.6);
        z-index: -1;
      }
    }
  }

  .object-content {
    padding: 100px 0;

    .object-slider-wrapper {
      max-width: 600px;
      margin: 0 auto 30px;
    }
    .object-slider {
      width: 100%;

      &-item {
        width: 100%;
        padding-top: 80%;
        @extend %img;
      }
    }

    .object-asNavFor-slider {
      width: 100%;

      &-item {
        width: 33.333%;
        padding-top: 100px;
        @extend %img;

        @media (min-width: map_get($grid-breakpoints, lg)) {
          width: 20%;
        }
      }
    }
  }
}