#intro {
  padding: 150px 0 170px;
  max-height: 1080px;
  @extend %img;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    height: 100vh;
    padding: 0;
  }

  .intro-item {
    position: relative;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      padding-left: 50px;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      padding-left: 70px;
    }

    &-title {
      font-size: 4rem;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        font-size: 7.5rem;
      }
    }
  }

  .decor-symbol {
    @extend %pos;
    width: 100%;
    height: 100%;
    z-index: -1;

    #text {
      position: relative;
      font-family: $headings-font-family;
      animation: decorSymbol 1.2s ease-in-out forwards 1;
      display: none;

      @media (min-width: map_get($grid-breakpoints, xl)) {
        display: block;
      }

      @media (min-width: 1200px) {
        font-size: 14vw;
      }

      @media (min-width: 1366px) {
        font-size: 11vw;
      }

      @media (min-width: 1600px) {
        font-size: 10vw;
      }

      @media (min-width: 1900px) {
        font-size: 8vw;
      }

    }

    #overlay {
      mask: url(#mask);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}

.scroll-down {
  position: absolute;
  left: 35px;
  bottom: -170px;
  transform: translateX(-50%);
  display: block;
  z-index: 5;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    bottom: 0;
  }

  &__text {
    position: absolute;
    top: 10px;
    left: -80px;
    width: 130px;
    white-space: nowrap;
    font-size: 14px;
    color: #fff;
    transform: rotate(-90deg);
  }

  &__icon {
    position: relative;
    width: 2px;
    height: 130px;
    background: rgba(#fff, .15);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 30px;
      background: #fff;
      box-shadow: 0px 2px 35px 8px rgba(255, 255, 255, 0.2);
      animation: scrollDown 1.5s linear forwards infinite;
    }
  }
}

@keyframes scrollDown {
  0% {
    top: 0;
  }

  25% {
    top: 25%;
  }

  50% {
    top: 50%;
  }

  75% {
    top: 75%;
  }

  100% {
    top: 100%;
  }
}

@keyframes decorSymbol {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}